@charset "utf-8";
@import url(./reset.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

.container_02 {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
  position: relative;
  top: 80px;
}

/* 메인 비주얼 */
.ads {
  width: 100%;
  height: 600px;
  position: relative;
}

.ads > .ad_visual {
  overflow: hidden;
  background-color: skyblue;
}
.ads > .ad_visual > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.ad_content {
  width: 1280px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -640px;
}

.ad_content > div > span {
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 4px 25px;
  box-sizing: border-box;
}

.ad_content h2 {
  margin-top: 20px;
  font-size: 58px;
  line-height: 82px;
  color: #fff;
  margin-bottom: 150px;
}

/* 다운로드 버튼 */
.btn_wrap {
  display: flex;
  justify-content: center;
}

.btn_wrap > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 210px;
  height: 56px;
  background-color: #971cef;
  border-radius: 56px;
  color: #fff;
}
