@charset "utf-8";
@import url(./reset.css);
/* 웹폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

/* 헤더 */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
}

header > .con {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* 로고 */
h1 {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
}

/* GNB */
#gnb > ul {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 80px;
}

#gnb > ul > li {
  width: 100px;
  height: 110px;
  line-height: 110px;
  position: relative;
}

#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-size: 16;
  font-weight: 600;
  text-align: center;
}

#gnb > ul > li:hover > a {
  color: #971cef;
}

/* 2차 메뉴 */
.submenu_wrap {
  min-width: 180px;
  background-color: #fff;
  position: absolute;
  /* 부모의 반만큼 오른쪽으로 보냄 */
  left: 50%;
  /* 요소 넓이의 반만큼 왼쪽으로 끌어당김 */
  transform: translateX(-50%);
  top: 110px;
  border-radius: 20px;
  padding-top: 0px;
  box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
  /* display: none; */
  height: 0px;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
}

.submenu_wrap .submenu {
  box-sizing: border-box;
  line-height: 40px;
  padding: 10px;
}

#gnb > ul > li:hover .submenu_wrap {
  /* display: flex; */
  padding-top: 10px;
  height: 180px;
}

.submenu > li {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 4px 24px;
  border-radius: 8px;
}

.submenu > li:hover {
  background-color: #971cef;
}

.submenu > li > a {
  width: 100px;
  display: block;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16;
  color: #111;
  font-weight: 600;
  line-height: 40px;
}

.submenu > li:hover > a {
  color: #fff;
}

#gnb:hover .submenu {
  height: 200px;
}

.submenu > li img {
  transition: 0.3s;
}

.submenu > li:hover img {
  filter: invert(1);
}

/* 로그인 아이콘 */
.icons {
  display: flex;
  align-items: center;
}

.icons > a > img:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(94%) saturate(4727%) hue-rotate(275deg) brightness(99%)
    contrast(97%);
}
