@charset "utf-8";
@import url(./reset.css);
/* 웹폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

.container {
  width: 100%;
  height: auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
}

header > .con {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* 로고 */
h1 {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
}

/* GNB */
#gnb > ul {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 80px;
}

#gnb > ul > li {
  width: 100px;
  height: 110px;
  line-height: 110px;
  position: relative;
}

#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-size: 16;
  font-weight: 600;
  text-align: center;
}

#gnb > ul > li:hover > a {
  color: #971cef;
}

/* 2차 메뉴 */
.submenu_wrap {
  min-width: 180px;
  background-color: #fff;
  position: absolute;
  /* 부모의 반만큼 오른쪽으로 보냄 */
  left: 50%;
  /* 요소 넓이의 반만큼 왼쪽으로 끌어당김 */
  transform: translateX(-50%);
  top: 110px;
  border-radius: 20px;
  padding-top: 0px;
  box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
  /* display: none; */
  height: 0px;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
}

.submenu_wrap .submenu {
  box-sizing: border-box;
  line-height: 40px;
  padding: 10px;
}

#gnb > ul > li:hover .submenu_wrap {
  /* display: flex; */
  padding-top: 10px;
  height: 180px;
}

.submenu > li {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 4px 24px;
  border-radius: 8px;
}

.submenu > li:hover {
  background-color: #971cef;
}

.submenu > li > a {
  width: 100px;
  display: block;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16;
  color: #111;
  font-weight: 600;
  line-height: 40px;
}

.submenu > li:hover > a {
  color: #fff;
}

#gnb:hover .submenu {
  height: 200px;
}

.submenu > li img {
  transition: 0.3s;
}

.submenu > li:hover img {
  filter: invert(1);
}

/* 로그인 아이콘 */
.icons {
  display: flex;
  align-items: center;
}

.icons > a > img:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(94%) saturate(4727%) hue-rotate(275deg) brightness(99%)
    contrast(97%);
}

main {
  width: 100%;
  height: auto;
  padding-top: 80px;
}

/* 메인 비주얼 */
.main_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: skyblue;
}
.main_visual > img {
  width: 100%;
  height: 900px;
}

.content_01 {
  text-align: center;
  position: absolute;
  transform: translateY(100px);
}

.content_01 h2 {
  margin-top: 20px;
  font-size: 58px;
  line-height: 82px;
  color: #fff;
  margin-bottom: 80px;
}

/* 다운로드 버튼 */
.btn_wrap {
  display: flex;
  gap: 24px;
}

.btn_wrap > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 210px;
  height: 56px;
  background-color: #971cef;
  border-radius: 56px;
  color: #fff;
}

.btn_wrap span {
  font-size: 16px;
  font-weight: 500;
}

/* 첫번째 섹션 */
.sec_01 {
  width: 100%;
  height: 850px;
}

.con_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 850px;
  background-color: #2d125f;
}

.box_01 {
  display: flex;
  justify-content: space-between;
  width: 628px;
  height: 400px;
  background-color: #915dff;
  border-radius: 30px;
  padding: 40px 40px 80px 40px;
  box-sizing: border-box;
}

.box_01,
.box_04 > span {
  font-size: 42px;
  font-weight: 500;
  line-height: 62px;
  color: #fff;
}

.box_01 > img {
  align-self: self-end;
  width: 165px;
}

.box_02 {
  width: 628px;
  height: 226px;
  background-color: #421393;
  padding: 40px 40px 80px 40px;
  border-radius: 30px;
  box-sizing: border-box;
}

.box_02,
.box_03 > span {
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  color: #fff;
}

.bento_group_01 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.box_03 {
  width: 628px;
  height: 226px;
  background-color: #5624c0;
  padding: 40px 40px 80px 40px;
  border-radius: 30px;
  box-sizing: border-box;
}

.box_04 {
  width: 628px;
  height: 400px;
  background-color: #971cef;
  padding: 40px 40px 80px 40px;
  border-radius: 30px;
  box-sizing: border-box;
  position: relative;
}

.img_wrap {
  display: flex;
  gap: 80px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -28%;
}

.bento_group_02 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 두번째 섹션 */
.sec_02 {
  width: 100%;
  height: 296px;
  background-color: #f5f5f7;
  padding: 100px 0;
  box-sizing: border-box;
}

.sec_02 > p {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

/* 세번째 섹션 */
.sec_03 {
  width: 100%;
  height: fit-content;
  padding: 100px 0;
}

.con_03 {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.comment_01 > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 80px;
  color: #971cef;
}

.comment_01 > p {
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  color: #111;
}

.container_01 {
  width: 640px;
}

.container_01 > img {
  width: 500px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.05) -10px 10px 10px 7px;
  margin-top: 200px;
  box-sizing: border-box;
}

.container_02 {
  width: 640px;
}

.container_02 > img {
  width: 500px;
  margin-left: 140px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.05) -10px 10px 10px 7px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

/* 네번째 섹션 */
.sec_04 {
  width: 100%;
  height: fit-content;
  padding: 100px 0;
  background-color: #fff;
}

.con_04 {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.con_04 p {
  margin-bottom: 50px;
}

.con_04 > img {
  width: 640px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.05) -10px 10px 10px 7px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.comment > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 80px;
  color: #971cef;
}

.comment > p {
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  color: #111;
}

/* 다섯째 섹션 */
.sec_05 {
  width: 100%;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.con_05 {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.con_05 > img {
  width: 640px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.05) -10px 10px 10px 7px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

/* 여섯째 섹션 */
.sec_06 {
  width: 100%;
  height: fit-content;
  padding: 100px 0;
  background-color: #fff;
  position: relative;
}

.con_06 {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.con_06 > img {
  width: 640px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.05) -10px 10px 10px 7px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

/* 일곱번째 섹션 */
.sec_07 {
  width: 100%;
  height: 904px;
  background-color: #2d125f;
  padding: 100px 0px;
  box-sizing: border-box;
}

.sec_07 > h3 {
  width: 1280px;
  font-size: 42px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 52px;
}

/* 리뷰 -  롤링텍스트 참고*/
.card_rolling {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.card_rolling > .card_wrap_01,
.card_wrap_02 {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 0;
  will-change: transform;
  width: max-content;
}

.card_rolling > .card_wrap_01,
.card_wrap_0 > .card {
  flex-shrink: 0;
}

.card_wrap_01 {
  animation: rolling_01 12s linear infinite reverse;
}

.card_wrap_01 > .card:last-of-type {
  margin-right: 20px;
}

.card_wrap_02 {
  animation: rolling_02 12s linear infinite reverse;
}

@keyframes rolling_01 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rolling_02 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.card_wrap {
  display: flex;
  gap: 20px;
}

.card > img {
  width: 500px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card_text {
  width: 500px;
  height: 260px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  padding: 40px;
  box-sizing: border-box;
}

.card_text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card_text p {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

.card_text span {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  text-align: right;
}

/* 여덞번째 섹션 */
.sec_08 {
  width: 100%;
  height: 100%;
  background-color: #5624c0;
  padding: 100px 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.sec_08 > h3 {
  width: 1280px;
  font-size: 42px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 52px;
}

/* 4*2 슬라이더 */
.swiper-area {
  position: relative;
  width: 1600px;
  height: fit-content;
  margin: 0 auto;
  /* padding-bottom: 80px; */
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: bold;
}

.swiper {
  width: 1280px;
  margin: 0 auto;
  /* position: absolute; */
  overflow: hidden;
}

.swiper-slide {
  width: 305px;
  height: auto;
}

.swiper-slide a img {
  width: 305px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

/* 카드 */
.card_game_text {
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card_game_text > .chips {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chips > div {
  font-size: 12px;
  font-weight: 400;
  background-color: #f1f1f3;
  border-radius: 30px;
  padding: 4px 14px;
  box-sizing: border-box;
}

.card_game_text p {
  font-size: 24px;
  font-weight: 600;
}

.card_game_text span {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  text-align: right;
}

/* 아홉번째 섹션 */
.sec_09 {
  padding: 100px 0;
  background: linear-gradient(0deg, rgba(66, 28, 145, 1) 0%, rgba(37, 11, 91, 1) 100%);
  box-sizing: border-box;
}

.cta > .icon_group {
  display: flex;
  justify-content: center;
}

.cta > .icon_group > img {
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.cta > h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 62px;
  color: #fff;
  text-align: center;
  margin-bottom: 52px;
}

.cta > .btn_wrap {
  display: flex;
  justify-content: center;
}

/* 푸터 */
footer {
  width: 100%;
  height: auto;
  /* position: relative;
  top: 80px; */
  padding: 80px 0px;
  background-color: #f1f1f3;
}

.navigation {
  width: 1280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.list > a {
  font-size: 26px;
  font-weight: 500;
  color: #111;
}

.list ul > li:first-child {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #111;
}

.list li {
  font-size: 14px;
  line-height: 34px;
  color: #555;
}

.description {
  display: flex;
  gap: 40px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #555;
}

.navigation > p {
  font-size: 14px;
  color: #555;
}
