@charset "utf-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 헤더 */
  header {
    height: 72px;
  }

  header > .con {
    width: 90%;
    height: 72px;
  }

  /* GNG */
  #gnb > ul {
    display: none;
    height: 72px;
  }

  /* 메뉴 아이콘 */
  .icons > a:last-child {
    display: flex;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 480px;
  }

  .main_content > h2 {
    width: 90%;
    font-size: clamp(24px, 6vw, 32px);
    line-height: clamp(32px, 8vw, 44px);
    margin-bottom: 28px;
  }

  /* 다운로드 버튼 */
  .btn_wrap {
    justify-content: center;
    gap: 8px;
  }

  .btn_wrap > a {
    width: 92px;
    height: 45px;
    gap: 4px;
  }

  .btn_wrap img {
    width: 70%;
  }

  .btn_wrap span {
    font-size: clamp(10px, 2.5vw, 12px);
  }

  /* 두번째 섹션 */
  .sec_02 {
    padding: var(--sec-padding);
  }

  .sec_02 > .con {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .bento_box_wrap {
    gap: 20px;
  }

  .bento_box_wrap:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  /* 박스 */
  .box_01,
  .box_04 {
    height: 200px;
    padding: 20px;
    border-radius: 20px;
  }
  .box_01 > span {
    width: 70%;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
  }

  .box_04 > span {
    width: 80%;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
  }

  .box_01 > img {
    width: 28%;
  }

  .img_wrap > img {
    height: 50%;
  }

  .box_02,
  .box_03 {
    height: 130px;
    padding: 20px;
    border-radius: 20px;
  }

  .box_02 > span:nth-child(1) {
    width: 50%;
    font-size: clamp(14px, 3.5vw, 18px);
    line-height: clamp(20px, 5vw, 24px);
  }

  .box_02 > span:nth-child(2)::after {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }

  .box_03 > span {
    width: 60%;
    font-size: clamp(14px, 3.5vw, 18px);
    line-height: clamp(20px, 5vw, 24px);
  }

  /* 세번째 섹션 */
  .sec_03 {
    display: none;
    padding: var(--sec-padding);
  }

  /* .sec_03 > div > p {
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  } */

  /* 네번째 섹션 */
  .sec_04 {
    padding-top: 80px;
    padding-bottom: 0px;
  }

  .sec_04 > .con {
    width: 90%;
    flex-direction: column;
  }

  .introduce:nth-child(2) {
    flex-direction: column-reverse;
  }

  .description_01,
  .description_02 {
    width: 65%;
    height: 160px;
  }

  .img_phone_01 > img {
    height: 80%;
    border-radius: 20px;
  }

  .img_phone_02 > img {
    height: 80%;
    border-radius: 20px;
  }

  .description_01 > span {
    font-size: clamp(12px, 3vw, 14px);
    margin-bottom: 20px;
  }

  .description_02 > span {
    font-size: clamp(12px, 3vw, 14px);
    margin-bottom: 20px;
  }

  .description_01 > p {
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
  }

  .description_02 > p {
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
  }

  /* 다섯번째 섹션 */
  .sec_05 {
    padding: var(--sec-padding);
  }

  .sec_05 > .con {
    width: 90%;
    flex-direction: column;
  }

  .sec_05 > .con > img {
    border-radius: 20px;
  }

  /* 공통 */
  .comment > span {
    font-size: clamp(12px, 3vw, 14px);
    margin-bottom: 20px;
  }

  .comment > p {
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
  }

  .comment {
    margin-bottom: 20px;
  }

  /* 여섯번째 섹션 */
  .sec_06 {
    padding: var(--sec-padding);
  }

  .sec_06 > .con {
    width: 90%;
    flex-direction: column;
  }

  .sec_06 > .con > img {
    border-radius: 20px;
  }

  /* 일곱번째 섹션 */
  .sec_07 {
    padding: var(--sec-padding);
  }

  .sec_07 > .con {
    width: 90%;
    flex-direction: column;
  }

  .sec_07 > .con > img {
    border-radius: 20px;
  }

  /* 여덞번째 섹션 */
  .sec_09 {
    padding: var(--sec-padding);
  }

  .sec_09 > h3 {
    width: 90%;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
    margin-bottom: 28px;
  }

  .swiper-area {
    width: 90%;
  }

  .swiper {
    width: 100%;
  }

  /* 아홉번째 섹션 */
  .sec_08 {
    padding: var(--sec-padding);
  }

  .sec_08 > h3 {
    width: 90%;
    font-size: clamp(16px, 4vw, 20px);
    line-height: clamp(24px, 6vw, 28px);
    margin-bottom: 28px;
  }

  /* 리뷰 */
  .sec_08 {
    height: 670px;
  }

  .card_rolling {
    height: 450px;
  }

  .card > img {
    width: 320px;
    height: 230px;
  }

  .card_text {
    width: 320px;
    height: 200px;
  }

  /* CTA */
  .sec_10 {
    padding: var(--sec-padding);
  }

  .cta > h2 {
    font-size: clamp(24px, 6vw, 32px);
    line-height: clamp(32px, 8vw, 44px);
    margin-bottom: 28px;
  }

  /* 푸터 */
  footer {
    padding: var(--sec-padding);
  }

  .navigation {
    width: 90%;
  }

  .list {
    display: none;
  }

  .description {
    justify-content: center;
  }

  .navigation > p {
    margin: 0 auto;
  }
}
/* 태블릿-sm  */
@media screen and (min-width: 480px) and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (min-width: 641px) and (max-width: 1250px) {
}

/* 태블릿 - md, lg */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

/* 공통영역 */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1600px) {
}
