@charset "utf-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 헤더 */
  header {
    height: 72px;
  }

  header > .con {
    width: 90%;
    height: 72px;
  }

  /* GNG */
  #gnb > ul {
    display: none;
    height: 72px;
  }

  /* 메뉴 아이콘 */
  .icons > a:last-child {
    display: flex;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 310px;
  }

  .main_content > h2 {
    width: 70%;
    font-size: var(--md-font-size);
    line-height: var(--md-line-height);
    margin-bottom: 28px;
  }

  /* 다운로드 버튼 */
  .btn_wrap {
    justify-content: center;
    gap: 8px;
  }

  .btn_wrap > a {
    width: 92px;
    height: 74px;
    flex-direction: column;
    border-radius: 12px;
  }

  .btn_wrap span {
    font-size: var(--xxxs-font-size);
  }

  /* 두번째 섹션 */
  .sec_02 {
    padding: 80px 0px;
  }

  .sec_02 > .con {
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .bento_box_wrap {
    gap: 20px;
  }

  .bento_box_wrap:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  /* 박스 */
  .box_01,
  .box_04 {
    height: 200px;
    padding: 20px;
    border-radius: 20px;
  }
  .box_01 > span {
    width: 70%;
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  }

  .box_04 > span {
    width: 80%;
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  }

  .box_01 > img {
    width: 28%;
  }

  .img_wrap > img {
    height: 50%;
  }

  .box_02,
  .box_03 {
    height: 130px;
    padding: 20px;
    border-radius: 20px;
  }

  .box_02 > span:nth-child(1) {
    width: 50%;
    font-size: var(--xs-font-size);
    line-height: var(--xs-line-height);
  }

  .box_02 > span:nth-child(2)::after {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }

  .box_03 > span {
    width: 60%;
    font-size: var(--xs-font-size);
    line-height: var(--xs-line-height);
  }

  /* 세번째 섹션 */
  .sec_03 {
    display: none;
  }

  /* .sec_03 > div > p {
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  } */

  /* 네번째 섹션 */
  .sec_04 {
    padding: 80px 0px;
  }

  .sec_04 > .con {
    width: 90%;
    flex-direction: column;
  }

  .introduce:nth-child(2) {
    flex-direction: column-reverse;
  }

  .description_01,
  .description_02 {
    width: 65%;
    height: 160px;
  }

  .img_phone_01 > img {
    height: 80%;
    border-radius: 20px;
  }

  .img_phone_02 > img {
    height: 80%;
    border-radius: 20px;
  }

  .description_01 > span {
    font-size: var(--xxxs-font-size);
    margin-bottom: 20px;
  }

  .description_02 > span {
    font-size: var(--xxxs-font-size);
    margin-bottom: 20px;
  }

  .description_01 > p {
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  }

  .description_02 > p {
    font-size: var(--sm-font-size);
    line-height: var(--sm-line-height);
  }

  /* 다섯번째 섹션 */
  .sec_05 {
    padding: 80px 0px;
  }

  .sec_05 > .con {
    width: 90%;
    flex-direction: column;
  }

  .sec_05 > .con > img {
    height: 132px;
  }

  /* 공통 */
  .comment > span {
    font-size: var(--xxxs-font-size);
    margin-bottom: 20px;
  }

  .comment > p {
    width: 90%;
    font-size: var(--xs-font-size);
    line-height: var(--xs-line-height);
  }

  /* 여섯번째 섹션 */
  .sec_06 {
    padding: 80px 0px;
  }

  .sec_06 > .con {
    width: 90%;
    flex-direction: column;
  }

  .sec_06 > .con > img {
    height: 132px;
  }

  /* 일곱번째 섹션 */
  .sec_07 {
    padding: 80px 0px;
  }

  .sec_07 > .description_01 {
    width: 90%;
    flex-direction: column;
  }

  .sec_07 > .con > img {
    height: 132px;
  }
}
/* 태블릿-sm  */
@media screen and (min-width: 480px) and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (min-width: 641px) and (max-width: 1250px) {
}

/* 태블릿 - md, lg */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

/* 공통영역 */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1600px) {
}
