@charset "utf-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #gnb {
    display: none;
  }

  .icons > a:last-child {
    display: flex;
  }

  header > .con {
    /* position: relative; */
    width: 100%;
    padding: 0px 30px;
  }

  .icons > a > img {
    height: 24px;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 95vh;
  }

  .main_content {
    width: 100%;
    top: 65%;
  }

  .main_content > h2 {
    font-size: 52px;
    line-height: 72px;
  }

  .btn_wrap {
    flex-direction: column;
  }

  .btn_wrap > a {
    width: 500px;
    height: 80px;
    line-height: 30px;
    gap: 24px;
  }

  .btn_wrap img {
    height: 35px;
  }

  .btn_wrap span {
    font-size: 30px;
  }

  /* 두번째 섹션 */
  .sec_02 > .con {
    height: auto;
    padding: 80px 30px;
  }

  /* 박스 */
  .box_01,
  .box_04 {
    height: 500px;
  }

  .box_01,
  .box_04 > span {
    font-size: 30px;
    line-height: 44px;
  }

  .box_01 {
    flex-direction: column;
  }

  .box_01 > img {
    width: 100%;
    height: 50%;
  }

  .box_04 > .img_wrap {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 40px;
  }

  .box_02,
  .box_03 {
    height: 100%;
  }

  .box_02,
  .box_03 > span {
    font-size: 30px;
    line-height: 44px;
  }

  /* 세번째 섹션 */
  .sec_03 {
    padding: 80px 30px;
  }

  .sec_03 > p {
    font-size: 30px;
    line-height: 44px;
  }

  /* 네번째 섹션 */
  .sec_04 {
    padding: 80px 30px;
  }

  .sec_04 > .con {
    width: 100%;
    flex-direction: column;
  }

  .introduce > img:first-child,
  img:last-child {
    margin: 0 auto;
  }

  .sec_04 > .con > .introduce:last-child {
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
  }

  .sec_04 img:first-child,
  .sec_04 img:last-child {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .sec_05,
  .sec_06,
  .sec_07,
  .sec_08,
  .sec_09,
  footer {
    display: none;
  }
}
