@charset "utf-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #gnb {
    display: none;
  }

  .icons > a:last-child {
    display: flex;
  }

  header > .con {
    width: 95%;
  }

  .icons > a > img {
    height: 24px;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 42vh;
  }

  .main_content > h2 {
    /* width: clamp(90%, 5vw, 70%);
    font-size: clamp(30px, 5vw, 42px);
    line-height: clamp(40px, 15vw, 62px); */
  }

  /* 다운로드 버튼 (메인비주얼, CTA 공통) */
  .btn_wrap {
    gap: clamp(14px, 5vw, 24px);
  }

  .btn_wrap > a {
    width: clamp(130px, 30vw, 220px);
  }

  .btn_wrap > a:last-child {
    display: none;
  }

  /* 두번째 섹션 */
  .sec_02 > .con {
    width: 95%;
    gap: clamp(12px, 5vw, 24px);
  }

  .bento_box_wrap {
    gap: clamp(12px, 5vw, 24px);
  }

  .box_01,
  .box_04 {
    height: 300px;
    padding: 30px 30px 40px 30px;
  }

  .box_01,
  .box_04 > span {
    font-size: clamp(17px, 5vw, 30px);
    line-height: clamp(30px, 10vw, 50px);
  }

  .box_01 > img {
    height: clamp(35%, 15vw, 50%);
    width: auto;
  }

  .img_wrap > img {
    width: 100%;
    height: clamp(5px, 15vw, 50%);
    object-fit: contain;
  }

  .box_02,
  .box_03 {
    padding: 30px 20px 30px 30px;
  }

  .box_02,
  .box_03 > span {
    font-size: clamp(17px, 5vw, 26px);
    line-height: clamp(30px, 10vw, 46px);
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: 80%;
  }

  .sec_03 > div > p {
    font-size: clamp(17px, 5vw, 26px);
    line-height: clamp(30px, 10vw, 46px);
  }

  /* 네번째 섹션 */
  .sec_04 > .con {
    width: 95%;
  }

  .introduce {
    width: 50%;
  }

  .description_01,
  .description_02 {
    width: 75%;
    height: 300px;
  }

  .img_phone_01 > img {
    width: 100%;
    height: auto;
  }

  .img_phone_02 > img {
    width: 100%;
    height: auto;
  }

  .description_01 > span {
    font-size: clamp(17px, 5vw, 22px);
    line-height: clamp(30px, 10vw, 42px);
  }

  .description_02 > span {
    font-size: clamp(17px, 5vw, 22px);
    line-height: clamp(30px, 10vw, 42px);
  }

  .description_01,
  .description_02 > p {
    font-size: clamp(17px, 5vw, 30px);
    line-height: clamp(30px, 10vw, 50px);
  }

  /* 다섯번째 섹션 */
  .sec_05 > .con {
    width: 95%;
  }

  .sec_05 > .con > img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  /* 공통 */
  .comment > span {
    font-size: clamp(17px, 5vw, 22px);
    line-height: clamp(30px, 10vw, 42px);
  }

  .comment > p {
    width: 80%;
    font-size: clamp(17px, 5vw, 30px);
    line-height: clamp(30px, 10vw, 50px);
  }

  /* 여섯번째 섹션 */
  .sec_06 > .con {
    width: 95%;
  }
  .sec_06 > .con > img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  /* 일곱번째 섹션 */
  .sec_07 > .con {
    width: 95%;
  }
  .sec_07 > .con > img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  /* 여덞번째 섹션 */
  .sec_09 > h3 {
    width: 95%;
    font-size: clamp(22px, 5vw, 36px);
    line-height: clamp(30px, 10vw, 56px);
  }

  .swiper-area {
    width: 95%;
    height: clamp(32vh, 120vw, 85vh);
  }

  .swiper {
    width: 100%;
  }

  .chips > div {
    font-size: clamp(12px, 5vw, 14px);
  }

  .card_game_text p {
    font-size: clamp(22px, 5vw, 26px);
  }

  .card_game_text span {
    font-size: clamp(14px, 5vw, 17px);
  }

  /* 아홉번째 섹션 */
  .sec_08 > h3 {
    width: 95%;
    font-size: clamp(22px, 5vw, 36px);
    line-height: clamp(30px, 10vw, 56px);
  }

  .card_text p {
    font-size: clamp(22px, 5vw, 30px);
    line-height: clamp(32px, 10vw, 44px);
  }

  .card > img {
    width: clamp(300px, 70vw, 450px);
    height: auto;
    max-height: 250px;
  }

  .card_text {
    width: clamp(300px, 70vw, 450px);
    height: clamp(100px, 70vw, 250px);
  }

  .card_text span {
    font-size: clamp(14px, 5vw, 17px);
  }

  /* CTA */
  .cta > h2 {
    font-size: clamp(30px, 5vw, 42px);
    line-height: clamp(42px, 15vw, 62px);
  }

  /* 푸터 */
  .navigation {
    width: 95%;
  }

  .description {
    gap: clamp(14px, 5vw, 40px);
  }
}

/* 태블릿-sm  */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  header > .con {
    width: 95%;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 57vh;
    width: 100%;
    object-fit: cover;
  }

  .main_content > h2 {
    width: 97%;
    font-size: clamp(36px, 5vw, 42px);
    line-height: clamp(46px, 15vw, 62px);
  }

  /* 다운로드 버튼 (메인비주얼, CTA 공통) */
  .btn_wrap > a {
    width: clamp(200px, 30vw, 230px);
  }

  .btn_wrap > a:last-child {
    display: none;
  }

  /* 두번째 섹션 */
  .sec_02 > .con {
    width: 95%;
  }

  .box_01,
  .box_04 > span {
    font-size: clamp(26px, 5vw, 36px);
    line-height: clamp(36px, 10vw, 56px);
  }

  .box_02,
  .box_03 > span {
    font-size: clamp(26px, 5vw, 30px);
    line-height: clamp(36px, 10vw, 40px);
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: clamp(75%, 5vw, 68%);
  }

  .sec_03 > div > p {
    font-size: clamp(17px, 5vw, 30px);
    line-height: clamp(30px, 10vw, 50px);
  }

  /* 네번째 섹션 */
  .sec_04 > .con {
    width: 95%;
  }

  .introduce {
    width: 50%;
  }

  .description_01,
  .description_02 {
    width: 70%;
  }

  .img_phone_01 > img {
    width: 100%;
    height: auto;
  }

  .img_phone_02 > img {
    width: 100%;
    height: auto;
  }

  .description_01 > span {
    font-size: clamp(22px, 5vw, 30px);
    line-height: clamp(40px, 10vw, 50px);
  }

  .description_02 > span {
    font-size: clamp(22px, 5vw, 30px);
    line-height: clamp(40px, 10vw, 50px);
  }

  .description_01,
  .description_02 > p {
    font-size: clamp(26px, 5vw, 36px);
    line-height: clamp(40px, 10vw, 56px);
  }

  /* 다섯번째 섹션 */
  .sec_05 > .con {
    width: 95%;
  }

  .sec_05 > .con > img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  /* 공통 */
  .comment > span {
    font-size: clamp(22px, 5vw, 30px);
    line-height: clamp(40px, 10vw, 50px);
  }

  .comment > p {
    width: 80%;
    font-size: clamp(26px, 5vw, 36px);
    line-height: clamp(40px, 10vw, 56px);
  }

  /* 여섯번째 섹션 */
  .sec_06 > .con {
    width: 95%;
  }
  .sec_06 > .con > img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  /* 일곱번째 섹션 */
  .sec_07 > .con {
    width: 95%;
  }
  .sec_07 > .con > img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  /* 여덞번째 섹션 */
  .sec_09 > h3 {
    width: 95%;
    font-size: clamp(26px, 5vw, 36px);
    line-height: clamp(36px, 10vw, 56px);
  }

  .swiper-area {
    width: 95%;
    height: clamp(32vh, 120vw, 95vh);
  }

  .swiper {
    width: 100%;
  }

  .chips > div {
    font-size: 14px;
  }

  .card_game_text p {
    font-size: clamp(22px, 5vw, 26px);
  }

  .card_game_text span {
    font-size: 17px;
  }

  /* 아홉번째 섹션 */
  .sec_08 > h3 {
    width: 95%;
    font-size: clamp(26px, 5vw, 36px);
    line-height: clamp(42px, 10vw, 56px);
  }

  .card_text p {
    font-size: clamp(26px, 5vw, 30px);
    line-height: clamp(42px, 10vw, 44px);
  }

  .card > img {
    width: clamp(400px, 70vw, 450px);
    height: auto;
    max-height: 350px;
  }

  .card_text {
    width: clamp(400px, 70vw, 450px);
    height: clamp(100px, 70vw, 250px);
  }

  .card_text span {
    font-size: clamp(14px, 5vw, 17px);
  }

  /* CTA */
  .cta > h2 {
    font-size: clamp(36px, 5vw, 42px);
    line-height: clamp(46px, 15vw, 62px);
  }

  /* 푸터 */
  .navigation {
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  /* 메인 비주얼 */
  .main_img > img {
    height: 40vh;
  }

  .main_content > h2 {
    width: 75%;
  }

  /* 두번째 섹션 */
  .box_01,
  .box_04 > span {
    font-size: 26px;
    line-height: 42px;
  }

  .box_02,
  .box_03 > span {
    font-size: 22px;
    line-height: 40px;
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: 80%;
  }

  .sec_03 > div > p {
    font-size: 22px;
    line-height: 42px;
  }

  /* 네번째 섹션 */
  .description_01,
  .description_02 {
    width: 85%;
  }

  .description_01 > span {
    font-size: 22px;
    line-height: 40px;
  }

  .description_02 > span {
    font-size: 22px;
    line-height: 40px;
  }

  .description_01,
  .description_02 > p {
    font-size: 26px;
    line-height: 42px;
  }

  /* 다섯번째 섹션 */
  /* 공통 */
  .comment > span {
    font-size: 22px;
    line-height: 40px;
  }

  .comment > p {
    width: 85%;
    font-size: 26px;
    line-height: 42px;
  }

  /* 여덞번째 섹션 */
  .sec_09 > h3 {
    font-size: 26px;
    line-height: 42px;
  }

  .swiper-area {
    height: 55vh;
  }

  /* 아홉번째 섹션 */
  .sec_08 > h3 {
    font-size: 26px;
    line-height: 42px;
  }

  .card_text p {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1250px) {
  header > .con {
    width: 95%;
  }

  /* 메인 비주얼 */
  .main_img > img {
    height: 40vh;
  }

  /* 다운로드 버튼 (메인비주얼, CTA 공통) */

  .btn_wrap > a:last-child {
    display: none;
  }

  /* 두번째 섹션 */
  .sec_02 > .con {
    width: 95%;
  }

  /* 네번째 섹션 */
  .sec_04 > .con {
    width: 95%;
  }

  /* 다섯번째 섹션 */
  .sec_05 > .con {
    width: 95%;
  }

  /* 여섯번째 섹션 */
  .sec_06 > .con {
    width: 95%;
  }

  /* 일곱번째 섹션 */
  .sec_07 > .con {
    width: 95%;
  }

  /* 여덞번째 섹션 */
  .sec_09 > h3 {
    width: 95%;
  }

  .swiper-area {
    width: 95%;
    height: clamp(60vh, 100vw, 70vh);
  }

  .swiper {
    width: 100%;
  }

  /* 아홉번째 섹션 */
  .sec_08 > h3 {
    width: 95%;
  }

  /* 푸터 */
  .navigation {
    width: 95%;
  }
}

/* 태블릿 - md, lg */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* 메인 비주얼 */
  .main_content > h2 {
    width: 70%;
    font-size: 42px;
    line-height: 62px;
  }

  /* 두번째 섹션 */
  .box_01,
  .box_04 > span {
    font-size: 36px;
    line-height: 56px;
  }

  .box_02,
  .box_03 > span {
    font-size: 26px;
    line-height: 42px;
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: 60%;
  }

  .sec_03 > div > p {
    font-size: 26px;
    line-height: 42px;
  }

  /* 네번째 섹션 */
  .description_01,
  .description_02 {
    width: 70%;
  }

  .img_phone_01 > img {
    width: 90%;
    height: auto;
  }

  .img_phone_02 > img {
    width: 90%;
    height: auto;
  }

  .description_01 > span {
    font-size: 26px;
    line-height: 42px;
  }

  .description_02 > span {
    font-size: 26px;
    line-height: 42px;
  }

  .description_01,
  .description_02 > p {
    font-size: 36px;
    line-height: 56px;
  }

  /* 다섯번째 섹션 */
  .sec_05 > .con > img {
    width: 100%;
    height: auto;
    max-width: 700px;
  }

  /* 공통 */
  .comment > span {
    font-size: 26px;
    line-height: 42px;
  }

  .comment > p {
    width: 60%;
    font-size: 36px;
    line-height: 56px;
  }

  /* 여섯번째 섹션 */
  .sec_06 > .con > img {
    width: 100%;
    height: auto;
    max-width: 700px;
  }

  /* 일곱번째 섹션 */
  .sec_07 > .con > img {
    width: 100%;
    height: auto;
    max-width: 700px;
  }

  /* 여덞번째 섹션 */
  .swiper-area {
    width: 95%;
    height: 80vh;
  }

  .swiper {
    width: 100%;
  }
}

/* 공통영역 */
@media screen and (max-width: 1440px) {
  /* 메인 비주얼 */
  .main_content > h2 {
    width: 70%;
    font-size: 58px;
    line-height: 78px;
  }

  /* 두번째 섹션 */
  .box_01,
  .box_04 > span {
    font-size: 42px;
    line-height: 62px;
  }

  .box_02,
  .box_03 > span {
    font-size: 36px;
    line-height: 56px;
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: 58%;
  }

  .sec_03 > div > p {
    font-size: 36px;
    line-height: 56px;
  }

  /* 네번째 섹션 */
  .introduce {
    width: fit-content;
  }

  .description_01,
  .description_02 {
    width: 70%;
  }

  .img_phone_01 > img {
    width: 100%;
  }

  .img_phone_02 > img {
    width: 100%;
  }

  .description_01 > span {
    font-size: 36px;
    line-height: 56px;
  }

  .description_02 > span {
    font-size: 36px;
    line-height: 56px;
  }

  .description_01,
  .description_02 > p {
    font-size: 42px;
    line-height: 62px;
  }

  /* 다섯번째 섹션 */
  /* 공통 */
  .comment > span {
    font-size: 36px;
    line-height: 56px;
  }

  .comment > p {
    width: 55%;
    font-size: 42px;
    line-height: 62px;
  }

  /* 여덞번째 섹션 */
  .swiper-area {
    width: 90%;
    height: 70vh;
  }

  .swiper {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  /* 메인 비주얼 */
  .main_content > h2 {
    width: 65%;
  }

  /* 두번째 섹션 */
  .box_02,
  .box_03 > span {
    font-size: 36px;
    line-height: 56px;
  }

  /* 세번째 섹션 */
  .sec_03 > div {
    width: 52%;
  }

  .sec_03 > div > p {
    font-size: 36px;
    line-height: 56px;
  }

  /* 네번째 섹션 */
  .img_phone_01 > img {
    width: 90%;
  }

  .description_01 > span {
    font-size: 22px;
    line-height: 40px;
  }

  .description_02 > span {
    font-size: 22px;
    line-height: 40px;
  }

  /* 다섯번째 섹션 */
  /* 공통 */
  .comment > span {
    font-size: 22px;
    line-height: 40px;
  }

  .comment > p {
    width: 55%;
  }

  /* 여덞번째 섹션 */
  .swiper-area {
    height: 60vh;
  }
}
