@charset "utf-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.container_02 {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
  position: relative;
  top: 80px;
}

.sec_01 {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_01 > h2 {
  width: 1280px;
  font-size: 58px;
  font-weight: 600;
  line-height: 82px;
  text-align: center;
  color: #111;
}

.sec_02 {
  width: 100%;
  height: 554px;
  position: relative;
}

/* 롤링 카드*/
.card_mini_rolling {
  width: 100%;
  height: 500px;
  background-color: #971cef;
  padding: 100px 0;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.card_mini_rolling > p {
  width: 1280px;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 52px;
  color: #fff;
}

.card_mini_rolling > .card_mini_wrap_01,
.card_mini_wrap_02 {
  display: flex;
  gap: 20px;
  position: absolute;
  will-change: transform;
  width: max-content;
}

.card_mini {
  width: 500px;
  height: 200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-sizing: border-box;
}

.card_mini > p {
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
  color: #971cef;
}

.card_mini_rolling > .card_mini_wrap_01,
.card_mini_wrap_02 > .card_mini {
  flex-shrink: 0;
}

.card_mini_wrap_01 {
  animation: rolling_01 12s linear infinite reverse;
}

.card_mini_wrap_01 > .card_mini:last-of-type {
  margin-right: 20px;
}

.card_mini_wrap_02 {
  animation: rolling_02 12s linear infinite reverse;
}

@keyframes rolling_01 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rolling_02 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
