<section class="sec_10">
  <div class="cta">
    <div class="icon_group">
      <img src="../../img/icon_ps5_01.svg" alt="아이콘 세모" />
      <img src="../../img/icon_ps5_02.svg" alt="아이콘 네모" />
      <img src="../../img/icon_ps5_03.svg" alt="아이콘 엑스" />
      <img src="../../img/icon_ps5_04.svg" alt="아이콘 정원" />
    </div>
    <h2>지금 나와 모험할<br />게임 파티원 만나기</h2>
    <!-- 다운로드 버튼 -->
    <div class="btn_wrap">
      <a href="#">
        <div>
          <img src="../../img/icon_googleplay.svg" alt="google play" />
        </div>
        <span>Android</span>
      </a>
      <a href="#">
        <div>
          <img src="../../img/icon_appstore.svg" alt="app store" />
        </div>
        <span>iOS</span>
      </a>
      <a href="#">
        <div>
          <img src="../../img/icon_windows.svg" alt="window" />
        </div>
        <span>Window</span>
      </a>
    </div>
  </div>
</section>
