<nav class="navigation">
  <div class="list">
    <a href="/"><h3>퀵플</h3></a>
    <ul>
      <li><a href="#">서비스</a></li>
    </ul>
    <ul>
      <li><a href="#">다운로드</a></li>
    </ul>
    <ul>
      <li><a href="#">게임추천</a></li>
    </ul>
    <ul>
      <li><a href="#">고객지원</a></li>
    </ul>
    <ul>
      <li><a href="#">계정</a></li>
      <li><a href="#">퀵플계정</a></li>
      <li><a href="#">고객센터</a></li>
    </ul>
  </div>

  <div class="description">
    <a href="#">이용약관</a>
    <a href="#">개인정보처리방침</a>
    <a href="#">청소년보호정책</a>
  </div>
  <p>&copy; Qple&#46; All rights reserved&#46;</p>
</nav>
