<section class="sec_08">
  <h3>퀵플로 재미를 더하는 게임</h3>
  <div class="swiper-area">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_01.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <!-- <div class="ps5">PS5</div> -->
                <div class="nintendo">Nintendo</div>
                <!-- <div class="pc">PC</div> -->
              </div>
              <p>모여봐요 동물의 숲</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_02.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <!-- <div class="ps5">PS5</div> -->
                <div class="nintendo">Nintendo</div>
                <!-- <div class="pc">PC</div> -->
              </div>
              <p>슈퍼 마리오 파티 잼버리</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_03.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <!-- <div class="ps5">PS5</div> -->
                <div class="nintendo">Nintendo</div>
                <!-- <div class="pc">PC</div> -->
              </div>
              <p>스플래툰 3</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_04.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <!-- <div class="ps5">PS5</div> -->
                <div class="nintendo">Nintendo</div>
                <!-- <div class="pc">PC</div> -->
              </div>
              <p>드래곤 퀘스트 빌더즈 2</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/sub/game_recommend/game_baldus_gate.html">
            <img src="/img/img_game_05.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>발더스 게이트 3</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_06.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>디아블로 4</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_07.jpg" />

            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>잇 테이크 투</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#">
            <img src="/img/img_game_08.jpg" />
            <div class="card_game_text">
              <div class="chips">
                <div class="ps5">PS5</div>
                <!-- <div class="nintendo">Nintendo</div> -->
                <div class="pc">PC</div>
              </div>
              <p>스플릿 픽션</p>
              <span>2025-03-23</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
