<div class="con">
  <!-- 로고 -->
  <h1>
    <a href="/">
      <img src="../../img/logo.svg" />
    </a>
  </h1>

  <!-- GNB -->
  <nav id="gnb">
    <ul>
      <li>
        <a href="../../sub/service/service.html">서비스</a>
      </li>
      <li>
        <a href="#">다운로드</a>
        <div class="submenu_wrap">
          <ul class="submenu">
            <li>
              <a href="#">
                Android
                <img src="../../img/icon-download.svg" />
              </a>
            </li>
            <li>
              <a href="#">
                iOS
                <img src="../../img/icon-download.svg" />
              </a>
            </li>
            <li>
              <a href="#">
                Window
                <img src="../../img/icon-download.svg" />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="../../sub/game_recommend/game_recommend.html">게임추천</a>
      </li>
      <li>
        <a href="#">고객지원</a>
      </li>
    </ul>
  </nav>

  <!-- 아이콘 -->
  <div class="icons">
    <a href="#">
      <img src="../../img/icon_login.svg" alt="login" />
    </a>
    <a href="#">
      <img src="../../img/icon_menu.svg" alt="menu" />
    </a>
  </div>
</div>
