<header>
  <div class="con">
    <!-- 로고 -->
    <h1>
      <a href="/">
        <img src="../img/logo.svg" />
      </a>
    </h1>

    <!-- 메뉴 -->
    <nav id="gnb">
      <ul>
        <li>
          <a href="#">서비스</a>
          <ul class="submenu">
            <li><a href="#">퀵플소개</a></li>
            <li><a href="#">브랜드 스토리</a></li>
          </ul>
        </li>
        <li>
          <a href="#">다운로드</a>
        </li>
        <li>
          <a href="#">게임추천</a>
        </li>
        <li>
          <a href="#">고객지원</a>
          <ul class="submenu">
            <li><a href="#">사용 가이드</a></li>
            <li><a href="#">자주 묻는 질문</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- 아이콘 -->
    <div class="icons">
      <a href="#">
        <img src="../img/icon_login.svg" alt="login" />
      </a>
    </div>
  </div>
</header>
