<!-- 세번째 섹션 -->
<section class="sec_03">
  <div class="con_03">
    <div class="container_01">
      <div class="comment_01">
        <span>번개챗 생성</span>
        <p>
          간편하고 빠르게<br />
          게임 번개파티를 고르고<br />
          파티원을 만나보세요
        </p>
      </div>
      <img src="../../img/main_sec_img_04.svg" alt="번개챗 생성" />
    </div>

    <div class="container_02">
      <img src="../../img/main_sec_img_03.svg" alt="실시간 번개챗" />
      <div class="comment_01">
        <span>실시간 번개챗</span>
        <p>
          시간에 구애받지 않고<br />
          실시간 번개파티를 열어<br />
          게임을 즐기세요
        </p>
      </div>
    </div>
  </div>
</section>

<!-- 네번째 섹션 -->
<section class="sec_04 pin">
  <div class="con_04">
    <div class="comment">
      <span>검색</span>
      <p>
        게임을 검색해서<br />
        원하는 게임파티만<br />
        골라보세요
      </p>
      <img src="../../img/inpubox.svg" alt="검색창" class="fade_img" />
    </div>
    <img src="../../img/main_sec_img_01.svg" alt="검색" class="fade_img" />
  </div>
</section>

<!-- 다섯번째 섹션 -->
<section class="sec_05 pin">
  <div class="con_05">
    <div class="comment">
      <span>알림</span>
      <p>
        알림 기능으로<br />
        약속 일정을 확인하고<br />
        리마인드까지
      </p>
    </div>
    <img src="../../img/main_sec_img_02.svg" alt="알림" class="fade_img" />
  </div>
</section>

<!-- 여섯번째 섹션 -->
<section class="sec_06">
  <div class="con_06">
    <div class="comment">
      <span>비매너 방지</span>
      <p>
        비매너 등급 뱃지로<br />
        비매너 회원을 구별,<br />
        방지할 수 있어요
      </p>
    </div>
    <img
      src="../../img/main_sec_img_05.jpg"
      alt="비매너 방지"
      class="fade_img"
    />
  </div>
</section>
