<!-- 네번째 섹션 -->
<section class="sec_04">
  <div class="con">
    <div class="introduce">
      <div class="description_01">
        <span>번개챗 생성</span>
        <p>간편하고 빠르게 번개파티를 고르고 파티원을 만나보세요</p>
      </div>
      <div class="img_phone_01">
        <img src="../../img/main_sec_img_02.jpg" alt="번개챗 생성" />
      </div>
    </div>

    <div class="introduce">
      <div class="img_phone_02">
        <img src="../../img/main_sec_img_01.jpg" alt="실시간 번개챗" />
      </div>
      <div class="description_02">
        <span>실시간 번개챗</span>
        <p>시간에 구애받지 않고 실시간 번개파티를 열어 게임을 즐기세요</p>
      </div>
    </div>
  </div>
</section>

<!-- 다섯번째 섹션 -->
<section class="sec_05 pin">
  <div class="con">
    <div class="comment">
      <span>검색</span>
      <p>게임을 검색해서 원하는 게임파티만 골라보세요</p>
      <img src="../../img/inputbox.png" alt="검색창" class="검색창" />
    </div>
    <img src="../../img/main_sec_img_03.jpg" alt="검색" class="검색 기능" />
  </div>
</section>

<!-- 여섯번째 섹션 -->
<section class="sec_06 pin">
  <div class="con">
    <div class="comment">
      <span>알림</span>
      <p>알림 기능으로 약속 일정을 확인하고 리마인드까지</p>
    </div>
    <img src="../../img/main_sec_img_04.jpg" alt="알림" class="fade_img" />
  </div>
</section>

<!-- 일곱번째 섹션 -->
<section class="sec_07">
  <div class="con">
    <div class="comment">
      <span>비매너 방지</span>
      <p>비매너 등급 뱃지로 비매너 회원을 구별, 방지할 수 있어요</p>
    </div>
    <img
      src="../../img/main_sec_img_05.jpg"
      alt="비매너 방지"
      class="fade_img"
    />
  </div>
</section>
