<h3>퀵플로 재미를 더하는 게임</h3>
<div class="swiper-area">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_01.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>모여봐요 동물의 숲</p>
            <span>2020-03-20</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_02.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>슈퍼 마리오 파티 잼버리</p>
            <span>2024-10-17</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_03.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>스플래툰 3</p>
            <span>2022-09-09</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_04.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>드래곤 퀘스트 빌더즈 2</p>
            <span>2019-08-09</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="../../sub/game_recommend/game_baldus_gate.html">
          <img src="../../img/img_game_05.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>발더스 게이트 3</p>
            <span>2023-08-03</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_06.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>디아블로 4</p>
            <span>2023-06-06</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_07.jpg" />

          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>잇 테이크 투</p>
            <span>2021-03-26</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_08.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>스플릿 픽션</p>
            <span>2025-03-07</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_09.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>마리오 카드 월드</p>
            <span>2025-06-05</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_10.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <!-- <div class="ps5">PS5</div> -->
              <div class="nintendo">Nintendo</div>
              <!-- <div class="pc">PC</div> -->
            </div>
            <p>동키콩 바난자</p>
            <span>2025-07-17</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_11.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>다크소울 3</p>
            <span>2016-04-12</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_12.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>엘든링 : 밤의 통치자</p>
            <span>2025-05-30</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_13.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>콜 오브 듀티 : 블랙옵스 6</p>
            <span>2024-10-25</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_14.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>몬스터 헌터 : 와일즈</p>
            <span>2025-02-28</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_15.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>아랑전설 : 시티 오브 울브스</p>
            <span>2025-04-24</span>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="../../img/img_game_16.jpg" />
          <div class="card_game_text">
            <div class="chips">
              <div class="ps5">PS5</div>
              <!-- <div class="nintendo">Nintendo</div> -->
              <div class="pc">PC</div>
            </div>
            <p>철권 8</p>
            <span>2024-01-26</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
